<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "userdm.vinosdechile.com"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Vinos de Chile</name>

    <description>
        Nombres y precios de vinos chilenos 
    </description>

    <author href="http://userdm.com" email="dario.ddwi@gmail.com">
        Dario Muñoz
    </author>

    <icon src="icon.png" />

</widget>